@charset "utf-8";
@import url(normalize.css);
/* import＝外部ファイルを呼び込み*/
/* normalize＝ユーザエージェントCSSをリセット */

/*---------------------------------
　基本設定
----------------------------------- */
* {
    box-sizing: border-box;
}

body {
    font-family: "游ゴシック体",YuGothic,"游ゴシック","Yu Gothic",sans-serif;
    background-image: url(../images/img-background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #171a0f;
}
img {
    vertical-align: top;
}
/*---------------------------------
　全ページ共通設定
----------------------------------- */

/* ヘッダー設定 */
.header {
    width: 100%;
    background-color: #000;
}
.header_wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header_logo {
    width: 200px;
}
.header_logo h1 {
    margin: 0;
}
.header_logo img {
    width: 100%;
}
.header_nav {
    width: 50%;
}
.header_nav ul {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
.header_nav ul li a {
    color: #fc001d;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
.header_nav ul li a:hover {
    color: #d1d6c0;
}


/* フッター設定 */
.footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}
.footer_nav {
    width: 100%;
}
.footer_nav ul {
    margin-bottom: 4px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.footer_nav ul li {
    margin: 0 40px;
}
.footer_nav ul li a {
    color: #fc001d;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
.footer_nav ul li a:hover {
    color: #d1d6c0;
}
.footer_copyright {
    color: #fc001d;
}

/*---------------------------------
　HOME設定
----------------------------------- */
.mainvisual {
    width: 100%;
}
.mainvisual img {
    width: 100%;
}

/* メインエリア */
.main_contents {
    width: 960px;
    margin: 40px auto 80px;
}

/* イントロテキスト */
.intro_text {
    padding: 40px;
    background-color: rgba(0,0,0,0.75);
}
.intro_text p {
    color:#d1d6c0;
    font-size: 18px;
    font-weight: bold;
}

/* バナーエリア */
.banner_area {
    margin: 40px 0;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.75);
}
.banner_section {
    width: 30%;
}
.banner_section h2 {
    margin: 5px;
    font-size: 22px;
    text-align: center;
}
.banner_section img {
    width: 100%;
}

.banner_section a {
    color: #fc001d;  
    text-decoration: none;
    transition: 0.5s;
}
.banner_section a:hover {
    color: #d1d6c0;
}
.banner_section a img {
    transition:opacity 0.5s;
}
.banner_section a:hover img {
    opacity: 0.75;
}

/*---------------------------------
　セカンドページ共通設定
----------------------------------- */
.mainvisual_second {
    width: 100%;
    background-color: #000;
    text-align: center;
}
.mainvisual_second img {
    width: 960px;
}
.main_contents_second {
    width: 960px;
    margin: 40px auto 80px;
    padding: 40px;
    background-color: rgba(0,0,0,0.75);
}
.main_contents_second h2 {
    margin: 0;
    font-size: 58px;
    color: #fc001d;
}
.main_contents_second p {
    color:#d1d6c0;
}
.content_wrapper {
    display: flex;
    justify-content: space-between;
}
.content_text,.content_img {
    width: 48%;
}
.content_img img {
    width: 100%;
    margin-bottom: 40px;
}

/*-----STORY設定----- */


/*-----CHARACTER設定----- */
.content_character {
    margin: 42px 0;
}
.content_text h3 {
    margin: 0;
    font-size: 42px;
    color:#d1d6c0;
    line-height: 1.2;/* 単位をつけない場合は、設定されているフォントサイズを基準にした倍率 初期値は1.5  */
}
.content_text .character_name {
    margin: 0 0 42px;
    font-size: 24px;
    font-weight: bold;
}

/*-----VOICE CAST設定----- */
.content_voice {
    margin: 42px 0;
}
.content_voice .content_text {
    width: 40%;
}
.content_voice .content_img {
    width: 55%;
}
.content_text .voice_name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.content_text .voice_cast {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}
